/* ========================================= 
COLORES
=========================================== */
:root {
    --background: #1F441E;
    --secundario: #96BB7C;
    --hover: #96BB7C;
}
/* ========================================= 
GLOBALES
=========================================== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100%;
}
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

/* ========================================= 
UTILIDADES
=========================================== */
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.contenido-centrado {
    max-width: 800px;
}
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    flex: 0 0 auto;
    background-color: var(--background);
    margin: 3rem auto 2rem;
}
@media screen and (min-width: 840px) {
    .boton {
        display: inline-block;
        margin: 3rem 0 2rem;
    }
}
.boton:hover {
    cursor: pointer;
    color: #000;
    background-color: var(--secundario);
}

/* ========================================= 
HEADER
=========================================== */
.site-header {
    background-color: var(--background);
    padding: 2rem 0;
}
.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.barra img {
    width: 70%;
    height: 10rem;
}
@media screen and (min-width: 840px) {
    .barra {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .barra img {
        width: 60%;
        height: 10rem;
    }
    .barra a {
        text-align: left;
    }
}

/** Navegacion **/
.navegacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    font-weight: 400;
    text-transform: uppercase;

}
.navegacion a:hover {
    color: var(--hover);
    text-decoration: underline;
}
@media screen and (min-width: 840px) {
    .navegacion a {
        margin-right: 3rem;
    }
    .navegacion a:last-of-type {
        margin-right: 0;
    }
}

/* ========================================= 
SITE HERO
=========================================== */
.site-hero {
    background-image: url(../assets/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}
.site-hero h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 6rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}
@media screen and (min-width: 840px) {
    .site-hero h1 {
        font-size: 4.5rem;
    }
}

/* ========================================= 
ICONOS
=========================================== */
/** Iconos **/
.iconos-nosotros {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 70%;
    gap: 3rem;
}
.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.icono i {
    font-size: 5rem;
    color: var(--background);
    margin-bottom: 2rem;
}
.icono:last-of-type {
    margin-bottom: 0;
}
.icono h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    flex: 1;
}
@media screen and (min-width: 840px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 6rem auto;
        width: 100%;
    }
    .icono {
        margin-bottom: 0;
    }
    .icono h3 {
        margin-bottom: 1rem;
        margin-top: 2rem;
        align-self: center;
    }
}

/* ========================================= 
ANUNCIOS
=========================================== */
.anuncio {
    border: 1px #B5B5B5 solid;
    background-color: #F5F5F5;
    margin: 2rem auto;
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.anuncio img {
    border-radius: 1rem 1rem 0 0;
    -webkit-border-radius: 1rem 1rem 0 0;
    -moz-border-radius: 1rem 1rem 0 0;
    -ms-border-radius: 1rem 1rem 0 0;
    -o-border-radius: 1rem 1rem 0 0;
}
.contenido-anuncio {
    padding: 2rem;
    text-align: center;
}
.contenido-anuncio h3 {
    margin: 0;
}
.precio {
    color: var(--background);
    font-weight: 700;
    font-size: 2rem;
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    flex: 1;
}
.iconos-caracteristicas li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconos-caracteristicas li img {
    margin-right: 1rem;
    justify-content: space-evenly;
    width: 70%;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}
@media screen and (min-width: 920px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .anuncio {
        flex-basis: calc(40% - 1rem);
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .contenido-anuncio {
        text-align: left;
        display: flex;
        flex-direction: column;
    }
}

/* ========================================= 
CONTACTO
=========================================== */
.imagen-contacto {
    background-image: url(../assets/img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto {
    flex: 0 0 90%;
    color: #ffffff;
}
.contenido-contacto p {
    font-size: 1.8rem;
}

/* ========================================= 
BLOG
=========================================== */
.seccion-blog {
    margin: 4rem auto;
}
.entrada-blog {
    margin: 0 auto 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 80%;
}
@media screen and (min-width: 840px) {
    .entrada-blog {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        margin-bottom: 4rem;
        width: 100%;
        gap: 0;
    }
}
.entrada-blog:last-of-type {
    margin-bottom: 0;
}
.imagen {
    align-self: center;
    justify-self: center;
}
.imagen a img {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.texto-entrada {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.2;
    font-weight: 300;
    display: inline-block;
    color: var(--background);
}
hr {
    border: 0 none rgba(145, 145, 145, .5);
    border-top: 1px solid rgba(145, 145, 145, .5);
    height: 1px;
    margin: 0 auto 3rem;
    display: block;
    clear: both;
    width: 80%;
}
@media screen and (min-width: 840px) {
    .texto-entrada {
        text-align: left;
        align-self: center;
        justify-self: center;
    }
    hr {
        display: none;
    }
}
.texto-entrada h4 a {
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4 a:hover {
    text-decoration: underline;
}
.texto-entrada span {
    color: var(--background);
}


/* ========================================= 
FOOTER
=========================================== */
.site-footer {
    background-color: var(--background);
    margin: 0;
}
.contenedor-footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
@media screen and (min-width: 840px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }
}
.site-footer .navegacion {
    display: none;
}
@media screen and (min-width: 840px) {
    .site-footer .navegacion {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
.redes a {
    text-decoration: none;
}
.instagram, .facebook {
    color: #fff;
    font-size: 4.5rem;
    margin-right: 4rem;
}
.facebook {
    margin-right: 0;
}

/* ========================================= 
PÁGINAS INTERNAS
=========================================== */
/* Nosotros */
.contenido-nosotros {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.contenido-nosotros .imagen-nosotros {
    background-image: url(../assets/img/nosotros.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    align-self: stretch;
}
.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem 0 0;
}
.footer-nosotros {
    display: block;
}

/* Anuncios */
.anuncios-contenedor {
    margin-bottom: 5rem;
}

/* Anuncio */
.anuncio-heading {
    font-size: 3rem;
    margin: 5rem 0;
}
.resumen-propiedad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.anuncio-img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.resumen-propiedad .precio {
    font-size: 3rem;
    margin: 2rem 0;
}
.iconos-caracteristicas-anuncio {
    justify-content: flex-end;
    gap: 6rem;
}
.main-anuncio p:nth-child(3) {
    margin-bottom: 6rem; 
}
@media screen and (min-width: 840px) {
    .anuncio-heading {
        font-size: 4.5rem;
        margin: 5rem 0;
    }
    .resumen-propiedad {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem auto;
        width: 80%;
    }
    .anuncio-img {
        max-width: 65%;
        margin: 0 auto;
    }
    .resumen-propiedad .precio {
        font-size: 4rem;
        margin: 0;
    }
}

/* Blog */
.main-blog {
    margin-bottom: 4rem;
}

/* Entrada blog */
.blog__heading {
    margin: 6rem auto;
    font-size: 3rem;
}
.entrada-blog--img {
    max-width: 90%;
    margin: 0 auto 4rem;
    display: block;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.footer-entrada {
    margin-top: 4rem;
}
@media screen and (min-width: 840px) {
    .entrada-blog--img {
        max-width: 60%;
        display: block;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
}

/* Formulario Contacto */
.contacto-general--margin {
    margin-bottom: 5rem;
}
fieldset {
    margin-bottom: 4rem;
    border: 1px solid #B5B5B5;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -ms-border-radius:1rem;
    -o-border-radius: 1rem;
}
fieldset:last-of-type {
    margin-bottom: 0;
}
form p {
    font-size: 2rem;
    color: #4f4f4f;
    margin: 0.5rem;
}
legend {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 2rem;
}
label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2rem;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    background-color: #e1e1e1;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"] {
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 20rem;
    resize: none;
}
.contacto-seccion .contacto-txt  {
    margin-bottom: 2rem;
}
.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#telefono, #correo {
    margin-bottom: 2rem;
}
